.title {
    display: flex;
    flex-direction: column;
}

.titletext1 {
    margin: 0;
    padding: 0;
    color: #1976d2;
}

.titletext2 {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-around;
}
.firstpart{
    display: flex;
    gap:2rem;
    align-items: center;
    justify-content: center;
}
.secondpart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.boldtext{
    font-weight:500;
}